<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Handquake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header>
    <div class="header">
        <div class="col-md-3">
          <div id="logo"><a href="/">Handquake</a></div>
        </div>
        <div class="col-md-6 top-menu">
          <%= link_to 'Home', '/' %>
          <%= link_to 'Profile', profile_path %>
          <%= link_to 'Personal Info', edit_profile_path %>
        </div>
        <div class="clearfix"></div>
    </div>
  </header>
  <div class="container">
    <% if notice %><div class="alert alert-info" role="alert"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning" role="alert"><%= alert %></div><% end %>

    <%= yield %>
  </div>
</body>
</html>
