<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Handquake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header>
    <div class="header">
        <div class="col-md-3">
          <div id="logo">
            <img src="/assets/logo-small.png" height="40" style="margin-top:-10px;">
            <a href="/">Handquake</a>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3 top-menu">
          <%= link_to 'Home', '/' %>
          <%= link_to 'Profile', profile_path %>
          <%= link_to 'Personal Info', edit_profile_path %>
        </div>
        <div class="clearfix"></div>
    </div>
  </header>
  <div class="container">
    <% if notice %><div class="alert alert-info" role="alert"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning" role="alert"><%= alert %></div><% end %>

    <%= yield %>
  </div>
  <footer>
      Created By <a href="http://www.dynotes.com/">Zi Kai Chen</a>, <a href="http://www.tonyzou.com/">Tony Zou</a>, <a href="http://thume.ca/">Tristan Hume</a> and <a href="http://neynt.ca/">Jim Zhang</a>. Hack the North 2014.
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
        <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
  </footer>
</body>
</html>
